%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.
{deps, [
  {eredis, ".", {git, "git://github.com/wooga/eredis.git", "master"}},
  {ibrowse, ".", {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}},
  {webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
]}.
