{sys, [
       {lib_dirs, ["../..", "../deps"]},
       {rel, "http_router", "1",
        [
         kernel,
         stdlib,
         sasl,
   http_router
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "http_router"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "http_router"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/http_router", "bin/http_router"},
           {copy, "files/http_router.cmd", "bin/http_router.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
